[submodule "frontend"]
	path = frontend
	url = https://github.com/rajSunny5714/Budgetify-React.git
[submodule "backend"]
	path = backend
	url = https://github.com/rajSunny5714/Budgetify-springboot.git
